*{
	margin: 0px;
	padding: 0rem 0px 0px 0px;
}

.listar{
	background-color: #FFF59D;
	padding-top: 1rem;

}

.listar label{
	font-size: 1.2em;
}


.fila{
	position: relative;
	display: inline-block;
	margin-left: 40%;
}

.nombre, .tipo{
	color: #29B6F6;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	margin-right: 1rem;

}

.maximo,.minimo{
	color: #388E3C;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	padding-right: 1rem;
}


.botoncitos{
	position: relative;
	display: inline-block;
}

i{
	color: black;
}

a{
	text-decoration: none;
}


.button-volver {
	background-color: #13AFDF; 
	border-radius: 6px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	padding: 12px 20px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	position: relative;
	display: inline-block;
}
.button-volver:hover {
	background-color: #FB7E29;
	color: #fff;
}


.volver	{
	position: relative;
	display: inline-block;
	margin-left: 40%;
}