%div.wrap#conf
    %div.row.botones
        %div.col.add.center
            %a.bnt.btn-primary.text-center{href:"/add"}= "Añadir producto"
        %div.col.volver.center
            %a.bnt.btn-primary.text-center{href:"/"}= "Volver"
    != haml :"/listar"