* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2E3133;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif, helvetica;
}

.wrap {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

form.producto {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 3px grey;
    border-top: 4px solid #536DFE;
}

form.producto input[type="text"],
form.producto textarea {
    border: 1px solid #536DFE;
    border-radius: 2px;
    padding: 16px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: "Roboto", Arial, sans-serif, helvetica;
    font-size: 1em;
    color: #141938;
}

form.producto input[type="text"]:focus,
form.producto textarea:focus {
    border: 2px solid #3F51B5;
    padding: 15px;
}

.alert {
    padding: 1em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.alert.error {
    background: #F2DEDE;
    border: 1px solid #a94442;
    color: #a94442;
}

.alert.success {
    background: #4CAF50;
}

.btn {
    padding: 15px;
    background: #ED572A;
    color: #e1e9fa;
    font-size: 1em;
    font-family: "Roboto", Arial, sans-serif, helvetica;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

.btn:hover {
    background: #e64a19;
}

.select {
    border: 1px solid #DBE1EB;
    font-size: 18px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    background: linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
    background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
    color: #2E3133;
}

.select:hover {
    border-color: #FBFFAD;
}

.select option {
    border: 1px solid #DBE1EB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.select option:hover {
    background: #FC4F06;
    background: linear-gradient(left, #FC4F06, #D85F2B);
    background: -moz-linear-gradient(left, #FC4F06, #D85F2B);
    background: -webkit-linear-gradient(left, #FC4F06, #D85F2B);
    background: -o-linear-gradient(left, #FC4F06, #D85F2B);
    font-style: italic;
    color: #FFFFFF;
}

input.form-control {
    background: white;
    color: black;
}

.principal.row {
    background: #2E3133;
    color: white;
    position: relative;
}

div.col-3,
div.col-4 {
    padding: 1.5rem;
}

div.tipo {
    padding-bottom: 1.5rem;
}

.principal .botones {
    display: none;
}

div.baja {
    color: #e51400;
}

div.sube {
    color: #60a917;
}

i.fas {
    position: relative;
    top: 0.4rem;
}

.btn {
    height: 5rem;
    width: 15rem;
    text-decoration: none;
}

.wrap a {
    text-decoration: none;
}

#conf {
    background-color: #2E3133;
}

#tabla label {
    font-size: 1.2em;
}

label a {
    color: #f44336;
}

.botones div {
    background: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.botones div a {
    color: #2E3133;
    width: 100%;
    box-sizing: border-box;
}

.fila.row {
    border-bottom: 1px solid white;
}

#tabla .nombre,
#tabla .tipo {
    color: #29B6F6;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

#tabla .maximo,
#tabla .minimo {
    color: #388E3C;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
}

.tiempo p {
    color: white;
}

div.producto p {
    font-size: 2.9rem;
}